.s404 {
    font-size: 100px;
    user-select: none;
}
.a{
    cursor: pointer;
}

.a:link {
    text-decoration: none;
    color: black;
}

.a:visited {
    text-decoration: none;
    color: black;
}

.a:hover {
    text-decoration: underline;
}

.backtoindex:link{
    color: cornflowerblue;
}

.backtoindex:visited{
    color: cornflowerblue;
}

.backtoindex:hover{
    color: cornflowerblue;
}

.inscr {
    margin-top: 8rem;
    font-size: 10px;
    color: gray;
    user-select: none;
}

.icon {
    margin-top: 2rem;
    width: 4rem;
}

.svg {
    width: 1rem;
}


.QRimg{
    width: 20rem;
}

.QR{
    height: 1.25rem;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}
.QRc{
    height: 21.25rem;
    transition: height 0.5s ease-in-out;
}


.textarea{
    margin-top: 10rem;
}